body{
    header{
        nav{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-top: 3%;
            margin-right: 60px;
            
            .barra-de-navegacion{
                a{
                    text-decoration: none;
                    color: rgb(226,226,226);
                    margin-left: 20px;
                    font-size: 16px;
                    padding: 5px;
                    border-radius: 10px;
                    transition: 1s ease;
                    &:hover{
                        text-decoration: underline;
                        transition: 1s ease;
                    }
                    }
                }
                .boton-cv{
                    a{
                        text-decoration: none;
                        color: rgb(226,226,226) ; 
                        margin-left: 30px; 
                        padding: 4px 15px;
                        border: white 1px solid;
                        border-radius: 5px;
                        font-size: 16px;
                        transition: 0.5s ease;
                        &:hover{
                            background-color: aliceblue;
                            color: black;
                            transition: 0.5s ease;
                        }
                    }
            }
        }
    }
}